body{
margin:0;
font-family:sans-serif;
background:#0f172a;
color:white;
}

.center{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.card{
background:#1e293b;
padding:40px;
border-radius:20px;
display:flex;
flex-direction:column;
gap:10px;
}

input{
padding:12px;
border-radius:10px;
border:none;
}

button{
padding:12px;
border:none;
border-radius:10px;
background:#22c55e;
color:white;
font-weight:bold;
}

.top{
padding:20px;
background:#020617;
font-size:20px;
}

#chat{
height:80vh;
overflow:auto;
padding:20px;
display:flex;
flex-direction:column;
gap:10px;
}

.me{
background:#22c55e;
padding:12px;
border-radius:15px;
align-self:flex-end;
max-width:60%;
}

.ai{
background:#334155;
padding:12px;
border-radius:15px;
align-self:flex-start;
max-width:60%;
}

.mic{
position:fixed;
bottom:20px;
right:20px;
width:70px;
height:70px;
border-radius:50%;
font-size:25px;
}